.b-menuClass{
    
    list-style-type: none;
    
    
    

    &__menuItem{
        margin-top: 3px;
        background-color: rgb(63, 63, 63);
        width: 120px;
        height: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        &:hover .b-menuClass__submenuItem{
            display: block;
            background-color: rgb(156, 52, 52);
        }
        
    }
    &__submenuItem{
        display: none;
        margin-top: 1px;
        background-color: rgb(63, 63, 63);
        width: 120px;
        height: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        
    }
}

a{
    display: block;
    height: 100%;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    
}
ul{
    list-style-type: none;
    
}
li:hover.b-menuClass__submenuItem{
    display: block;
    background-color: rgb(156, 52, 52);
}

#id3:hover .b-menuClass__submenuItem{
    display: block;
    background-color: rgb(156, 52, 52);
}
