
// #id3:hover .b-menuClass__submenuItem{
//     display: block;
//     background-color: rgb(156, 52, 52);
// }
#idmenu{
    height: 5000px;
    width: auto;
}
body {
    height: 5000px;
    width: auto;
}
.b-menuClass{
    
    list-style-type: none;
    width: 500px;
    float: left;
    
    

    

    &__menuItem{
        margin-top: 3px;
        background-color: rgb(63, 63, 63);
        width: 120px;
        height: 30px;
        font-weight: 400;
        font-size: 14px; 
        line-height: 26px;
        text-align: center;
        
        
        
        &:hover .b-menuClass__submenuItem{
            display: block;
            background-color: rgb(160, 158, 158); 
            
        }
    }
    
    &__submenuItem{
        display: none;
        margin-top: 1px;
        background-color: rgb(63, 63, 63);
        width: 120px;
        height: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        float: left;
        &:hover .b-menuClass__submenuItem{
            display: block;
            background-color: rgb(160, 158, 158);
    }
}
    }

a{
    display: block;
    height: 100%;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;

    
}
ul{
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}



